@font-face{
	/*font-family:"Inter";*/
	src:url('../fonts/Inter_24pt-SemiBold.ttf');
}
.text{
	-fx-font-family:"Inter 24pt SemiBold";
	-fx-fill:"#FFFFFF";
}
.action{
	-fx-fill: "#000000";
	-fx-stroke:"#313131";
	-fx-stroke-width:1;
}
.action-button{
	-fx-background-color:"#000000";
	-fx-fill:"#FFFFFF"
}
.dashboard-button{
	-fx-background-color:"#232121";
	-fx-fill:"#FFFFFF"
}